{% extends 'home/admin/adminHome.html' %}
{% load static %}
{% block title %}
    <title>Add Purchase</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <div class="ui right aligned basic  grid">
        <div class="ui right aligned basic segment">
            <div class="ui internally grid">
                <div class="row" style="padding-bottom: 0!important;padding-top: 0!important;">
                    <div class="four wide column">
                        <form class="ui mini form" id="supForm2">
                            <div class="field inline">
                            <span style="float: left">
                            <i class="user icon"></i>
                            <label>Name</label>
                                </span>


                                <div class="ui supplierList search">
                                    <div class="ui icon input" style="width:75%;">
                                        <input autocomplete="fomantic-search" type="text" class="prompt" id="name"
                                               name="name" placeholder="Supplier Name">

                                    </div>
                                    <div class="results"></div>
                                </div>

                            </div>
                            <div class="field inline">
                            <span style="float: left">
                            <i class="registered icon"></i>
                            <label>GST Reg</label>
                            </span>
                                <input class="cwide" type="text" name="gst" id="gst" placeholder="GST Reg">
                            </div>
                            <div class="field inline">
                            <span style="float: left">
                            <i class="mobile icon"></i>

                            <label>Phone</label>
                            </span>
                                <input class="cwide" type="text" name="phone" id="phone" placeholder="Phone Number">
                            </div>
                            <div class="field inline">
                            <span style="float: left">
                            <i class="mail icon"></i>

                            <label>Email</label>
                            </span>
                                <input class="cwide" type="text" id="email" name="email" placeholder="Email">
                                <input type="hidden" name="supplierID" id="supplierID" value="NaN">
                            </div>

                        </form>

                    </div>
                    <div class="four wide column">
                        <form class="ui tiny form" id="supForm">
                            <div class="field inline">
                            <span style="float: left">
                            <i class="map marker alternate icon"></i>
                            <label>Address</label>
                                </span>
                                <textarea name="address" id="address" class="cwide" rows="1"
                                          style="padding-bottom: 0.4rem;padding-top: 0.3rem"></textarea>
                            </div>
                            <div class="field inline">
                            <span style="float: left">
                            <i class="street view icon"></i>
                            <label>State</label>
                            </span>
                                <select class="cwide  dropdown" id="state" name="state">
                                    <option value="" hidden="" selected="">State</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu &amp; Kashmir">Jammu &amp; Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhaya Pradesh">Madhaya Pradesh</option>
                                    <option value="Maharastra">Maharastra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Orissa">Orissa</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Utter Pradesh">Utter Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                </select>
                            </div>
                            <div class="field inline">
                            <span style="float: left">
                            <i class="building icon"></i>
                            <label>Company</label>
                            </span>
                                <select style="    background-color: bisque;" class="cwide dropdown" id="company"
                                        onchange="changeCompany()">

                                    <option value="1"> THANGJAM ENTERPRISES</option>


                                </select>
                            </div>

                            <div class="field inline">
                            <span style="float: left">
                            <i class="cart arrow down icon"></i>
                            <label>Type</label>
                            </span>
                                <select style="    background-color: bisque;" class="cwide dropdown" id="pType"
                                        onchange="changeProductType()">

                                    <option value="Normal" selected="">Normal</option>

                                    <option value="Jet">Jet</option>

                                </select>
                            </div>


                        </form>
                    </div>
                    <div class="six wide column">
                        <div class="ui form">
                            <div class="ui tiny form">
                                <div class="inline fields">

                                    <i class="amazon pay icon"></i>
                                    <label for="fruit">Payment Type</label>
                                    <div class="field">
                                        <div class="ui radio checkbox checked" onclick="showDay('n')">
                                            <input type="radio" name="payment" checked="" value="Cash" tabindex="0"
                                                   class="hidden">
                                            <label>Cash Bill</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox" onclick="showDay('n')">
                                            <input type="radio" name="payment" value="Card" tabindex="0" class="hidden">
                                            <label>Card</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox" onclick="showDay('y')">
                                            <input type="radio" name="payment" value="Credit" tabindex="0"
                                                   class="hidden">
                                            <label>Credit</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox" onclick="showDay('c')">
                                            <input type="radio" name="payment" value="Cheque" tabindex="0"
                                                   class="hidden">
                                            <label>Cheque</label>
                                        </div>
                                    </div>


                                </div>
                                <div class="field inline" id="days" style=" display: none; margin-bottom: 0.5em;">
                            <span style="float: left">
                            <i class="calendar check icon"></i>
                            <label>Days</label>
                                </span>
                                    <input style="width: 78%" type="text" name="cDays" id="cDays"
                                           placeholder="Credit Days">
                                </div>
                                <div class="field inline" id="cheque" style="padding-bottom: 5px; display: none;">
                            <span style="float: left">
                            <i class="receipt icon"></i>
                            <label>Cheque Detail</label>
                                </span>
                                    <input style="width:77%" type="text" name="chequeDetail" placeholder="Cheque Detail"
                                           id="chequeDetail">
                                </div>
                            </div>

                            <form class="ui tiny form">


                                <div class="ui two column grid">
                                    <div class="column">
                                        <div class="field inline">
                            <span style="float: left">
                            <i class="scroll icon"></i>
                            <label>Invoice No</label>
                                </span>
                                            <input style="width: 55%" name="invoiceNumber" id="invoiceNumber"
                                                   placeholder="Invoice Number">
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field inline" id="standard_calendar">
                            <span style="float: left">
                            <i class="calendar alternate icon"></i>
                            <label>Date</label>
                            </span>
                                            <input style="width: 70%" type="text" name="pDate" id="pDate"
                                                   placeholder="Date" autocomplete="off" tabindex="0">
                                            <div class="ui popup calendar">
                                                <table class="ui celled center aligned unstackable table day seven column">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="7"><span class="link">July 2022</span><span
                                                                class="prev link"><i
                                                                class="chevron left icon"></i></span><span
                                                                class="next link"><i
                                                                class="chevron right icon"></i></span></th>
                                                    </tr>
                                                    <tr>
                                                        <th>S</th>
                                                        <th>M</th>
                                                        <th>T</th>
                                                        <th>W</th>
                                                        <th>T</th>
                                                        <th>F</th>
                                                        <th>S</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="link adjacent disabled">26</td>
                                                        <td class="link adjacent disabled">27</td>
                                                        <td class="link adjacent disabled">28</td>
                                                        <td class="link adjacent disabled">29</td>
                                                        <td class="link adjacent disabled">30</td>
                                                        <td class="link">1</td>
                                                        <td class="link">2</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="link">3</td>
                                                        <td class="link">4</td>
                                                        <td class="link active today focus">5</td>
                                                        <td class="link">6</td>
                                                        <td class="link">7</td>
                                                        <td class="link">8</td>
                                                        <td class="link">9</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="link">10</td>
                                                        <td class="link">11</td>
                                                        <td class="link">12</td>
                                                        <td class="link">13</td>
                                                        <td class="link">14</td>
                                                        <td class="link">15</td>
                                                        <td class="link">16</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="link">17</td>
                                                        <td class="link">18</td>
                                                        <td class="link">19</td>
                                                        <td class="link">20</td>
                                                        <td class="link">21</td>
                                                        <td class="link">22</td>
                                                        <td class="link">23</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="link">24</td>
                                                        <td class="link">25</td>
                                                        <td class="link">26</td>
                                                        <td class="link">27</td>
                                                        <td class="link">28</td>
                                                        <td class="link">29</td>
                                                        <td class="link">30</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="link">31</td>
                                                        <td class="link adjacent disabled">1</td>
                                                        <td class="link adjacent disabled">2</td>
                                                        <td class="link adjacent disabled">3</td>
                                                        <td class="link adjacent disabled">4</td>
                                                        <td class="link adjacent disabled">5</td>
                                                        <td class="link adjacent disabled">6</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>

                    </div>


                    <div class="two wide column">
                        <a href="">


                            <i class="scroll icon" style="font-size: 3rem; padding: 40px;margin-right: 50px;"></i>
                            <p>Create New Purchase</p>

                        </a>
                    </div>
                </div>
            </div>
            <div class="ui horizontal divider">

            </div>
            <div class="ui internally celled grid">
                <div class="row" style="padding-bottom: 0!important;padding-top: 0!important;">

                    <div class="eleven wide column" style="padding-top: 0!important;padding-bottom: 0;">
                        <form id="productForm">
                            <div class="ui mini form">
                                <div class="seven fields">
                                    <div class="field">
                                        <label style="text-align: center">Product Name <i onclick="openProduct()"
                                                                                          class="plus green icon"
                                                                                          style="cursor:pointer"></i></label>

                                        <div class="ui productList search">
                                            <div class="ui icon input">
                                                <input type="text" class="prompt" id="productName" name="productName"
                                                       placeholder="Product Name" onfocus="proSearch()">
                                                <i class="shopping bag icon"></i>
                                                <input type="hidden" id="itemID">


                                            </div>
                                            <div class="results"></div>
                                        </div>

                                    </div>
                                    <div class="field">
                                        <label style="text-align: center">Amount (Without Tax)(₹)</label>
                                        <input placeholder="Total" type="text" id="total">
                                    </div>
                                    <div class="field">
                                        <label style="text-align: center">Quantity</label>
                                        <input placeholder="Quantity" type="text" id="quantity">
                                    </div>

                                    <div class="field">
                                        <label style="text-align: center">Unit</label>
                                        <input placeholder="Unit" type="text" id="unit" readonly=""
                                               style="background-color: lightgray;">
                                    </div>
                                    <div class="field">
                                        <label style="text-align: center">Price(₹)</label>
                                        <input placeholder="Price" type="text" id="Price">
                                    </div>
                                    <div class="field">
                                        <label style="text-align: center">GST</label>
                                        <input placeholder="GST" type="text" id="GST">
                                    </div>
                                    <div class="field">
                                        <label style="text-align: center">Net Price(₹)</label>
                                        <input placeholder="Net Price" type="text" id="netPrice">
                                    </div>

                                </div>
                                <div class="7 fields">

                                    <div class="field">
                                        <label style="text-align: center">Category <i onclick="openCategory()"
                                                                                      class="plus green icon"
                                                                                      style="cursor:pointer"></i></label>
                                        <input placeholder="Category" type="text" id="category" readonly=""
                                               style="background-color: lightgray;">
                                    </div>
                                    <div class="field">
                                        <label style="text-align: center">HSN</label>
                                        <input placeholder="HSN" type="text" id="hsn" readonly=""
                                               style="background-color: lightgray;">
                                    </div>
                                    <div class="field">
                                        <label style="text-align: center">Stock</label>
                                        <input placeholder="Stock" type="text" id="stock" readonly=""
                                               style="background-color: lightgray;">
                                    </div>
                                    <div class="field">
                                        <label style="text-align: center">MRP(₹)</label>
                                        <input placeholder="MRP" type="text" id="mrp">
                                    </div>

                                    <div class="field" style="    padding-top: 1.3rem;">
                                        <div class="ui buttons">
                                            <button class="ui positive button" id="addItemBtn" type="button"
                                                    onclick="addSubItems()"><i class="plus icon"></i>Add
                                            </button>
                                            <button style="display: none" type="button" id="updateItemBtn"
                                                    onclick="updateSubItems()" class="ui orange button">
                                                <i class="icon redo"></i>
                                                Update
                                            </button>
                                            <div class="or"></div>
                                            <button class="ui button red" type="button" onclick="ClearData()"><i
                                                    class="minus icon"></i>
                                                Clear
                                            </button>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="five wide  column" style="padding-top: 0!important;padding-bottom: 0;">

                        <form class="16 ui mini form" id="totalForm">
                            <div class="ui mini form">
                                <div class="two fields">
                                    <div class="field">
                                        <label style="float: left"> <i class="percent icon"></i> Taxable(₹)</label>
                                        <input placeholder="Taxable" id="GrandTaxable" type="number" value="0"
                                               readonly="" style="background-color: lightgray;">
                                    </div>
                                    <div class="field">

                                        <label style="float: left"><i class="registered icon"></i> GST(₹)</label>
                                        <input name="gst" placeholder="GST" id="GrandGst" type="number" value="0"
                                               readonly="" style="background-color: lightgray;">
                                    </div>
                                </div>
                            </div>

                            <div class="ui mini form">
                                <div class="three fields">
                                    <div class="field">
                                        <label style="float: left"> <i class="people carry icon"></i> Other
                                            Charges(₹)</label>
                                        <input placeholder="Other Charges" id="otherCharges" name="otherCharges"
                                               type="number" value="0">
                                    </div>
                                    <div class="field">
                                        <label style="float: left"> <i class="balance scale icon"></i> Round
                                            Off(₹)</label>
                                        <input placeholder="Round Off" id="roundOff" name="roundOff" type="number"
                                               value="0">
                                    </div>
                                    <div class="field">

                                        <label style="float: left"><i class="wallet icon"></i> Total(₹)</label>
                                        <input name="Total" placeholder="Total" id="GrandTotal" type="number" value="0"
                                               readonly="" style="background-color: lightgray;">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="row" style="padding-bottom: 0!important;padding-top: 0!important;">
                    <div class="twelve wide column" style="padding-top: 0!important;padding-bottom: 0;">
                        <table class="ui very compact table " id="itemTable">
                            <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Product</th>
                                <th>Category</th>
                                <th>HSN</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Rate(₹)</th>
                                <th>GST %</th>
                                <th>Net Rate(₹)</th>
                                <th>Total(₹)</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="four wide column">
                        <div class="ui center aligned basic segment">
                            <button class="ui mini primary button" onclick="AddExtraDetail()">
                                Add Extra Details
                            </button>
                            <div class="ui segment">
                                <div class="ui  column very relaxed grid">
                                    <div class="column">
                                        <a onclick="purchaseSave()" style="cursor: pointer;">
                                            <i class="save icon" style="font-size: 2rem"></i>
                                            <p>Save</p>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        var userTab;


        function showUserModal() {
            $('#myModalUser').modal('show');
        }

        function EditUser() {
            $('')
        }

        function addUser() {

            var productName = $('#productName').val();
            var stock = $('#stock').val();
            var unit = $('#unit').val();
            var category = $('#category').val();
            var brand = $('#brand').val();
            var cp = $('#cp').val();
            var mrp = $('#mrp').val();
            var sp = $('#sp').val();


            if (productName === '' || stock === '' || mrp === '' ||
                unit === '' || category === '' || brand === '' || cp === '' || sp === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: '* fields are required.'
                    })
                ;
            } else {

                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

                data = new FormData();
                data.append('productName', productName);
                data.append('stock', stock);
                data.append('unit', unit);
                data.append('category', category);
                data.append('brand', brand);
                data.append('cp', cp);
                data.append('mrp', mrp);
                data.append('sp', sp);


                data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:add_product_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'New Product Added Successfully.'
                                })
                            ;


                            userTab.ajax.reload();
                            $('#addForm').trigger('reset');
                            $('#myModalUser').modal('toggle');
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;

                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                    }
                });


            }

        }


        // user Details

        userTab = $('#UserTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "300px",
            "scrollX": true,
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5, 6, 7, 8]
                }
            }
                {% comment %}      , {
                          extend: 'print',
                          exportOptions: {
                               columns: [1, 2, 3, 4, 5, 6, 7, 8]
                          }
                      }{% endcomment %}
            ],
            "columnDefs": [
                {"name": "name", "targets": 0, "orderable": true},
                {"name": "stock", "targets": 1, "orderable": true},
                {"name": "unitID", "targets": 2, "orderable": true},
                {"name": "categoryID", "targets": 3, "orderable": true},
                {"name": "brandID", "targets": 4, "orderable": true},
                {"name": "cp", "targets": 5, "orderable": true},
                {"name": "mrp", "targets": 6, "orderable": true},
                {"name": "sp", "targets": 7, "orderable": true},
                {"name": "datetime", "targets": 8, "orderable": true},
                {"name": "action", "targets": 9, "orderable": false}

            ],
            aaSorting: [[8, 'desc']],
            "lengthMenu": [[8, 25, 50, 100, -1], [8, 25, 50, 100, "All"]],
            "pageLength": 8,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'homeApp:ProductListJson' %}"
        });


        function delUser(id) {
            $('#deleteUser')
                .modal('show')
            ;
            $('#UserID').val(id)
        }

        function deleteUser() {
            var id = $('#UserID').val();
            var formdata = new FormData();
            formdata.append('userID', id);

            $.ajax({
                url: "{% url 'homeApp:delete_product' %}",
                type: "post",
                data: formdata,
                contentType: false,
                cache: false,
                processData: false,

                success: function (response) {
                    if (response.message === 'success') {
                        $('body')
                            .toast({
                                class: 'success',
                                message: 'Product Detail Deleted Successfully.'
                            })
                        ;


                        userTab.ajax.reload();
                    } else {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;

                    }

                    return response;
                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });

        }

        function GetUserDetails(id) {
            $('#userModal').modal('show');
            $.ajax({
                type: 'get',
                url: '{% url "homeApp:get_product_detail"%}?id=' + id,

                success: function (response) {
                    console.log(response);
                    $('#EditUserId').val(response.data['ID']);
                    $('#productNameEdit').val(response.data['ProductName']);
                    $('#stockEdit').val(response.data['Stock']);
                    $('#unitEdit').val(response.data['Unit']).change();
                    $('#categoryEdit').val(response.data['Category']).change();
                    $('#brandEdit').val(response.data['Brand']).change();
                    $('#cpEdit').val(response.data['CP'])
                    $('#mrpEdit').val(response.data['MRP']);
                    $('#spEdit').val(response.data['SP']);


                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });
        }

        function editUser() {

            var EditUserId = $('#EditUserId').val();
            var productName = $('#productNameEdit').val();
            var stock = $('#stockEdit').val();
            var unit = $('#unitEdit').val();
            var category = $('#categoryEdit').val();
            var brand = $('#brandEdit').val();
            var cp = $('#cpEdit').val();
            var mrp = $('#mrpEdit').val();
            var sp = $('#spEdit').val();


            if (productName === '' || stock === '' || mrp === '' ||
                unit === '' || category === '' || brand === '' || cp === '' || sp === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: '* fields are required.'
                    })
                ;
            } else {

                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

                data = new FormData();
                data.append('productName', productName);
                data.append('stock', stock);
                data.append('unit', unit);
                data.append('category', category);
                data.append('brand', brand);
                data.append('cp', cp);
                data.append('mrp', mrp);
                data.append('sp', sp);
                data.append('EditUserId', EditUserId);


                data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:edit_product_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'Product detail updated Successfully.'
                                })
                            ;


                            userTab.ajax.reload();
                            $('#EditForm').trigger('reset');
                            $('#userModal').modal('toggle');
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;

                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                    }
                });


            }
        }


    </script>

{% endblock %}