{% extends 'home/admin/index.html' %}
{% load static %}
{% block title %}
    <title>InstallmentList|Admin</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>

        #UserTable_length {
            left: 20px;
            position: absolute;
        }

        #UserTable_filter {
            width: 50%;
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui right aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Installments
                </div>
            </div>

            <div class="ui tab " data-tab="user">

                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">
                        <h5 class="ui horizontal left aligned divider header">
                            <i class="left align icon"></i>
                            Installment List
                        </h5>
                        <div class="ui internally grid">

                            <div class="sixteen left aligned wide column">
                                <div class="ui form">
                                    <form class="ui tiny form">

                                        <div class="field">


                                            <label><i class="calendar alternate icon"></i>Filter By Date Range</label>

                                            <div class="three fields">
                                                <div class="four wide mobile field">
                                                    <div class="ui calendar" id="rangestart">
                                                        <div class="ui input left icon">
                                                            <input class="" type="text" placeholder="Start Date"
                                                                   style="width:100%;"
                                                                   id="startDateF">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="four wide mobile field">
                                                    <div class="ui calendar" id="rangeend">
                                                        <div class="ui input left icon">
                                                            <input class="" type="text" placeholder="End Date"
                                                                   style="width:100%;"
                                                                   id="endDateF">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="eight wide field">
                                                    <div class="ui calendar" id="rangeend">
                                                        <div class="ui input left icon">
                                                            <button class="ui tiny active button" type="button"
                                                                    onclick="filterDetails()">
                                                                <i class="funnel dollar icon"></i>
                                                                Search
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>

                        <table class="ui unstackable  sortable celled very nowrap very compact table" id="UserTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>EMI Amount(₹)</th>
                                <th>Installment Date</th>
                                <th>Paid(₹)</th>
                                <th>Is Paid?</th>
                                <th>Is Reassigned</th>
                                <th>Remark</th>
                                <th>Received On</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="ui modal" id="myModalUser">
        <i class="close icon"></i>
        <div class="header">
            Add Installment
        </div>
        <div class="content">

            <form class="ui tiny form" id="addForm">{% csrf_token %}
                <div class="two required fields">
                    <div class="eight wide field">
                        <label>Customer Name</label>
                        <input type="text" readonly name="Name" placeholder="Customer Name" id="customerName">
                    </div>
                    <div class="eight wide field">
                        <label>Installment Amount</label>
                        <input type="number" readonly name="Name" placeholder="Installment Amount"
                               id="installmentAmount">
                    </div>

                </div>

                <div class="one fields">
                    <div class="sixteen wide field required">
                        <label>Action</label>
                        <select class="ui  search dropdown" id="action" onchange="getAction()">
                            <option value="">Choose Action</option>
                            <option value="Paid">Paid</option>
                            <option value="Reassign">Reassign</option>
                        </select>
                    </div>
                </div>
                <div class="two required fields" id="showPaid" style="display: none">
                    <div class="eight wide field">
                        <label>Paid Amount</label>
                        <input type="number" placeholder="Paid Amount" id="paidAmount">
                    </div>
                    <div class="eight wide field">
                        <label>Fine Amount</label>
                        <input type="number" placeholder="Fine Amount" id="fineAmount">
                    </div>

                </div>
                <div class="one required fields" id="showReassign" style="display: none">
                    <div class=" sixteen wide field required" id="reassign_calendar">
                        <label>Reassign Date</label>
                        <input type="text" name="rdate" id="rdate" placeholder="Reassign Date">
                    </div>
                </div>
                <div class="one required fields">
                    <div class="sixteen wide field">
                        <label>Remark</label>
                        <input type="text" placeholder="Remark" id="remark">
                    </div>

                </div>

                <input type="hidden" id="ID">
            </form>

            <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                <div class="ui cancel button">Cancel</div>
                <button id="saveBtn" class="ui right labeled icon button green" onclick="Save()">
                    Submit
                    <i class="checkmark icon"></i>
                </button>
                <button id="saveBtnLoad" style="display: none;" class="ui green double loading button">
                    Saving ....
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        var today = new Date();
        $('#rangestart').calendar({
            initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
            monthFirst: false,
            type: 'date',
            endCalendar: $('#rangeend'),
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });
        $('#rangeend').calendar({
            initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
            monthFirst: false,
            type: 'date',
            startCalendar: $('#rangestart'),
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });

        $('#reassign_calendar')
            .calendar({
                    initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
                    monthFirst: false,
                    type: 'date',
                    formatter: {
                        date: function (date, settings) {
                            if (!date) return '';
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();
                            return day + '/' + month + '/' + year;
                        }
                    },
                    popupOptions: {
                        observeChanges: false
                    }

                }
            );

        var userTab;


        // user Details

        userTab = $('#UserTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "300px",
            "scrollX": true,
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6, 7]
                }
            }
                {% comment %}      , {
                          extend: 'print',
                          exportOptions: {
                               columns: [1, 2, 3, 4, 5, 6, 7, 8]
                          }
                      }{% endcomment %}
            ],
            "columnDefs": [
                {"name": "saleID.customerName", "targets": 0, "orderable": false},
                {"name": "saleID.emiAmount", "targets": 1, "orderable": true},
                {"name": "installmentDate", "targets": 2, "orderable": true},
                {"name": "amountPaid", "targets": 3, "orderable": true},
                {"name": "isPaid", "targets": 4, "orderable": true},
                {"name": "isReassigned", "targets": 5, "orderable": true},
                {"name": "remark", "targets": 6, "orderable": true},
                {"name": "paymentReceivedOn", "targets": 7, "orderable": true},
                {"name": "action", "targets": 8, "orderable": true},

            ],
            aaSorting: [[7, 'desc']],
            "lengthMenu": [[8, 25, 50, 100, -1], [8, 25, 50, 100, "All"]],
            "pageLength": 8,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'homeApp:InstallmentListByAdminJson' %}"
        });


        function filterDetails() {
            var startDate = $('#startDateF').val();
            var endDate = $('#endDateF').val();
            userTab.ajax.url('{% url 'homeApp:InstallmentListByAdminJson' %}?startDate=' + startDate + '&endDate=' + endDate).load();

        }

        function showImgModal(img) {
            $('#imgModal').modal('show')
            $("#imageLoad").attr({"src": "" + img});
        }

        function GetDetail(id) {
            $('#myModalUser').modal('show');
            $.ajax({
                type: 'get',
                url: '{% url "homeApp:get_installment_detail"%}?id=' + id,

                success: function (response) {
                    $('#ID').val(response.data['ID']);
                    $('#customerName').val(response.data['Name']);
                    $('#installmentAmount').val(response.data['Amount']);


                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });
        }

        function getAction() {
            let action = $('#action').val();
            if (action === 'Paid') {
                $('#showPaid').css('display', '')
                $('#showReassign').css('display', 'none')
            } else if (action === 'Reassign') {
                $('#showPaid').css('display', 'none')
                $('#showReassign').css('display', '')
            } else {
                $('#showPaid').css('display', '')
                $('#showReassign').css('display', '')
            }

        }


        function Save() {
            showLoading();

            var ID = $('#ID').val();
            var action = $('#action').val();
            var paidAmount = $('#paidAmount').val();
            var fineAmount = $('#fineAmount').val();
            var rdate = $('#rdate').val();
            var remark = $('#remark').val();

            if (ID === '' || action === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: 'Please select an action.'
                    })
                ;
                hideLoading();
            } else {

                if (action === 'Paid') {
                    if (paidAmount === '') {
                        $('body')
                            .toast({
                                class: 'orange',
                                message: 'Please enter paid amount.'
                            })
                        ;
                        hideLoading();
                    } else {
                        data = new FormData();
                        data.append('ID', ID);
                        data.append('action', action);
                        data.append('paidAmount', paidAmount);
                        data.append('fineAmount', fineAmount);
                        data.append('rdate', rdate);
                        data.append('remark', remark);


                        $.ajax({
                            type: 'post',
                            url: '{% url "homeApp:add_installment_api" %}',
                            data: data,
                            contentType: false,
                            cache: false,
                            processData: false,


                            success: function (response) {
                                if (response.message === 'success') {
                                    $('body')
                                        .toast({
                                            class: 'success',
                                            message: 'Installment added successfully.'
                                        });

                                    hideLoading();


                                    userTab.ajax.reload();
                                    $('#addForm').trigger('reset');
                                    $('#myModalUser').modal('toggle');
                                } else {
                                    $('body')
                                        .toast({
                                            class: 'error',
                                            message: 'An error occurred !'
                                        })
                                    ;
                                    hideLoading();
                                }

                                return response;
                            },
                            error: function () {
                                $('body')
                                    .toast({
                                        class: 'error',
                                        message: 'An error occurred !'
                                    })
                                ;
                                hideLoading();
                            }

                        });
                    }
                }
                if (action === 'Reassign') {
                    if (rdate === '') {
                        $('body')
                            .toast({
                                class: 'orange',
                                message: 'Please enter reassign date.'
                            })
                        ;
                        hideLoading();
                    } else {
                        data = new FormData();
                        data.append('ID', ID);
                        data.append('action', action);
                        data.append('paidAmount', paidAmount);
                        data.append('fineAmount', fineAmount);
                        data.append('rdate', rdate);
                        data.append('remark', remark);


                        $.ajax({
                            type: 'post',
                            url: '{% url "homeApp:add_installment_api" %}',
                            data: data,
                            contentType: false,
                            cache: false,
                            processData: false,


                            success: function (response) {
                                if (response.message === 'success') {
                                    $('body')
                                        .toast({
                                            class: 'success',
                                            message: 'Installment added successfully.'
                                        });

                                    hideLoading();

                                    userTab.ajax.reload();
                                    $('#addForm').trigger('reset');
                                    $('#myModalUser').modal('toggle');
                                } else {
                                    $('body')
                                        .toast({
                                            class: 'error',
                                            message: 'An error occurred !'
                                        })
                                    ;
                                    hideLoading();
                                }

                                return response;
                            },
                            error: function () {
                                $('body')
                                    .toast({
                                        class: 'error',
                                        message: 'An error occurred !'
                                    })
                                ;
                                hideLoading();
                            }

                        });
                    }
                }


            }

        }


    </script>

{% endblock %}